#mm_bg {
    background-image: url('img/orange.jpg');
    background-size: 100vw 100vh;
    background-color: brown;
    background-repeat: repeat-y;
}


.mm_box {
    margin-top: 20%;
    margin-left: 30%;
    width: 41%;
    height: 45%;
    border: 5px solid black;
    padding: 2px;
}

#mm_flag {
    margin: 3px;
    height: 25%;
    width: 25%;
}